*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mobile-pad: 1.5em;
  --first-c: slategray;
  --second-c: darksalmon;
  --third-c: darkolivegreen;
  --fourth-c: seagreen;
  --white-c: ghostwhite;
}
html {
  font-family: sans-serif;
}
