/* Profile */
.profile {
  padding: var(--mobile-pad);
  height: auto;
  min-height: 75vh;
  overflow-y: scroll;
}
.profile > *:not(:first-child) {
  margin-top: 1.5em;
}
.profile__img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: slategray;
  width: 200px;
  height: 200px;
}
.profile__headline {
  color: slateblue;
  font-size: 2rem;
}
.profile__txt {
  max-width: 60ch;
}
.profile__tags {
  display: flex;
  list-style: none;
  gap: var(--mobile-pad);
}
.profile__item {
  background: var(--fourth-c);
  padding: 0.5em;
}
